.row
  .large-3.columns
    %br
  .large-6.columns
    .authform
      %h4= t('sign_up')
      %hr
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.input :name, autofocus: true
        = f.input :email
        = f.input :password, hint: (t('minimum_characters', number: @minimum_password_length) if @minimum_password_length)
        = f.input :password_confirmation
        = f.button :submit, :'data-disable-with' => t('helpers.on_disable'), class: 'small right'
  .large-6.columns
    %br
