.row
  .large-3.columns
    %br
  .large-6.columns
    .authform
      %h4 Sign up
      %hr
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.input :name, autofocus: true
        = f.input :email
        = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation
        = f.button :submit, "Sign up", class: 'small right'
  .large-6.columns
    %br