= simple_form_for(@station) do |f|
  .row
    .large-6.columns= f.input :name
    .large-6.columns= f.input :city
  .row
    .large-12.columns
      = f.input :latitude
      = f.input :longitude
  .row
    .large-12.columns
      = f.button :submit, class: 'small right'
      = link_to 'Back', :back, class: 'button small right back secondary' unless f.object.new_record?
