%li
  .station-card
    - if can? :manage, station
      = link_to fa_icon('times'), station, method: :delete, class: 'ribbon alert', data: { :confirm => t('are_you_sure') }
      = link_to fa_icon('pencil'), edit_station_path(station), class: 'ribbon secondary'
    = link_to station do
      .row.collapse
        .large-4.medium-4.small-4.columns#image-map{style: "background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=#{station.latitude},#{station.longitude}&zoom=15&size=160x140&markers=#{station.latitude},#{station.longitude})"}
        .large-8.medium-8.small-8.columns
          .header= station.name
          .body
            .right
              = fa_icon("comments", text: station.comments.size)
              = fa_icon("thumbs-up", text: station.rates.like.size)
            %div
              %b City:
              = station.city
            - station.prices.uniq_prices.limit(2).each do |price|
              %div
                %b== #{price.fuel_name}:
                = number_to_currency(price.value, precision: 3)
