= content_for :js do
  = javascript_tag do
    $(document).ready(function(){
    showMap(new google.maps.LatLng("#{@station.latitude}","#{@station.longitude}"));
    });

.station-show
  .header
    == #{@station.name} - #{@station.city}
    - if can? :manage, @station
      = link_to fa_icon('pencil', text: 'Edit'), edit_station_path(@station), class: 'label secondary small'
      = link_to fa_icon('times', text: 'Delete'), @station, method: :delete, class: 'label alert small', 'data-confirm': 'Are you sure?'
  #map-canvas
