= content_for :js do
  = javascript_tag do
    $(document).ready(function(){
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showMap);
    }
    });

    function showMap(position){
    var mapOptions = {
    center: new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
    zoom: 15,
    minZoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    / var fullBounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map($('#map-canvas')[0] ,mapOptions);
    var marker;

    / fullBounds.extend(map.getCenter());
    new google.maps.Marker({
    animation: google.maps.Animation.DROP,
    position: map.getCenter(),
    map: map,
    zoom: 14,
    icon: "#{image_path("marker.png")}"
    });

    - @stations.find_each do |station|
      var latLng = new google.maps.LatLng("#{station.latitude}", "#{station.longitude}");
      / fullBounds.extend(latLng);
      marker = new google.maps.Marker({
      animation: google.maps.Animation.DROP,
      position: latLng,
      map: map
      });
      // Adiciona um evento (clique) ao marcador
      var infowindow = new google.maps.InfoWindow({ content: '' });
      var id = parseInt("#{station.id}");
      google.maps.event.addListener(marker, 'click', (function(id) {
      return function() {
      infowindow.setContent("#{raw infowindow(station)}");
      infowindow.open(map, this);
      }
      })(id));

    / map.fitBounds(fullBounds);

    }

%h4.text-center= t('find_a_gas_station')
.row
  .large-2.columns
    %br
  .large-8.madium-12.small-12.columns
    = form_for my_stations_path, method: :get do
      .row.collapse
        .large-10.medium-10.small-10.columns= text_field_tag :q, nil, placeholder: t('search'), value: params[:q], style: 'margin-bottom:0'
        .large-2.medium-2.small-2.columns= link_to fa_icon('search'), '#', class: 'button prefix', onclick: "$('form').submit();return false;"
  .large-2.columns
    %br

-# %p= image_tag 'http://placehold.it/1050x500'
#map-canvas

.row
  .large-12.columns
    - if @stations.any?
      .text-center{style: 'margin-bottom: 1rem'}= t('filtered_by', q: "#{params[:q]}") if !params[:q].blank?
      %ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1
        = render @stations
      .pagination-centered= paginate @stations
    - else
      .row
        .large-12.small-12.columns.text-center
          = t('no_station_for', q: params[:q]) if params[:q]
