.row
  .large-6.medium-8.columns.large-centered.medium-centered
    .authform
      %h4= t('sign_in')
      %hr
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, required: false, autofocus: true
        = f.label :password, required: false
        .row.collapse
          .medium-8.columns
            = f.input :password, label: false
          .medium-4.columns
            = f.button :submit, t('helpers.submit.send'), :'data-disable-with' => t('helpers.on_disable'), class: 'button postfix'
        = link_to t("forgot_your_password"), new_password_path(resource_name)
        %hr/
        %br/
        = link_to t('sign_up'), new_registration_path(resource_name), class: 'button success expand'
      = link_to t('sign_up_facebook'), user_omniauth_authorize_path(:facebook), class: 'button facebook expand'
