%nav.top-bar{"data-topbar" => "", :role => "navigation", "data-options" => "is_hover: false"}
  %ul.title-area
    %li.name
      %h1
        = link_to 'Gassy', root_path
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', '#'
  %section.top-bar-section
    - if user_signed_in?
      / Left Nav Section
      %ul.left
        %li.has-dropdown
          = link_to t('stations'), '#'
          %ul.dropdown
            %li= link_to t('my_stations'), my_stations_path
            %li= link_to t('favorites'), favorites_stations_path
      / Right Nav Section
      %ul.right
        %li.has-form= link_to t('new_station'), new_station_path, class: 'button'
        %li.has-dropdown
          = link_to current_user.name, '#'
          %ul.dropdown
            %li= link_to t('edit_profile'), edit_user_registration_path
            %li= link_to t('fuels'), fuels_path if current_user.admin?
            %li.active= link_to t('logout'), destroy_user_session_path, method: :delete
    - else
      %ul.right
        %li.has-form= link_to t('sign_in'), new_user_session_path, class: 'button'
