!!!
%html{:lang => "en"}
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %title= content_for?(:title) ? "Gassy - #{yield(:title)}" : "Gassy"
  = stylesheet_link_tag :application
  = javascript_include_tag "vendor/modernizr"
  = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    = render 'layouts/messages'

    %main
      = yield

    %footer
      = render  'layouts/footer'

    = yield :modal
    #medium-modal.reveal-modal.medium{:'data-reveal' => ''}
    #small-modal.reveal-modal.small{:'data-reveal' => ''}

    = javascript_include_tag :application
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBiZilNtYRNKHXAOSmwmJapyNsklTyKQIk"
    
    = yield :js
